:root{
    --orange: rgb(175, 64, 0);
    --blue: rgb(101, 178, 180);
}
body{
    font-family: 'Permanent Marker', cursive;
    color: var(--orange)
}
header{
    background-color: var(--blue);
    border-bottom: solid var(--orange) 3px;
}

h1{
    color: var(--orange);
    font-size: 75px;
    padding: 10px;
    text-shadow: -5px 5px 10px  rgb(0, 0, 0);

}
header ul{
    background-color: var(--blue);
}
header li{
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;

}
nav {
    background-color: var(--blue);  
}
li a{
    color: var(--orange);
    font-size: 25px;
}
li img {
    filter: blur(8px);
}
li img:hover {
    filter: none;
}
h2{
    font-size: 40px;
    border-right: 3px solid var(--orange);
    border-bottom:3px solid var(--orange);
    margin: 35px;

    background-color: var(--blue);
}
.pic {
    background-color:var(--blue);
    border: 3px solid var(--orange);
    padding: 4px;
    margin: 5px;
}
div li{
    background-color:var(--blue);
    border: 3px solid var(--orange);
    padding: 4px;
    margin: 5px;
}
p {
    background-color:var(--blue);
    border: 3px solid var(--orange);
    padding: 4px;
    margin: 5px;  
}
footer{
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: var(--blue);
    border: 2px solid var(--orange);
    font-weight: 600;
}